@charset "UTF-8";

textarea.form-control {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

#spinner {
  width: 100vw;
  height: 100vh;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
